--pre
--extra-index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly

git+https://github.com/rkazants/optimum-intel.git@support_gemma4
openvino
nncf
transformers==5.5.0
torch>=2.10
torchvision
Pillow
gradio>=6.0
opencv-python
requests
matplotlib
